.spinner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.spinner-block {
  width: 200px;
  height: 200px;
  border: 5px solid #262a33;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-block + .spinner-block {
  border-left: 0;
}

button {
  padding: 10px 40px;
  background: #262a33;
  color: #c5c5c5;
  font-size: 20px;
  border: 1px solid #61666f;
  outline: 0;
  cursor: pointer;
}
